.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  z-index: 200; /* 메뉴보다 위에 오게 하고 싶으면 200 이상 */
}

/* 로고 버튼 기본 */
.header-logo-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header-logo-img {
  width: 5rem;
  height: 4rem;
  object-fit: contain;
}

.header-title {
  font-size: 1rem;
  font-weight: 700;
  color: #333333;
}
